* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.prod-image {
    width: 400px;
    height: 420px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    /*margin-top: 40px;*/
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 16px;
    background-color: white;
}



/*.card {*/
/*    background-color: white;*/
/*    width: 500px;*/
/*    padding: 20px;*/
/*    height: 100%;*/
/*    border-radius: 8px;*/
/*    margin: 20px 0 20px 0;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
/*}*/

h2, p {
    padding: 16px;
}

button {
    margin: 16px;
    padding: 8px 16px 8px 16px;
    border: none;
    background-color: darkorange;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ffa130;
}


/*titleForProduct.classList.add("prod-title");*/
/*productDescription.classList.add("prod-description");*/
/*productPrice.classList.add("prod-price");*/
/*productImage.classList.add("prod-image");*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.header, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    gap: 40px;
    list-style-type: none;
    margin-right: 40px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    height: 80px;
    margin-left: 40px;
    margin-top: 8px;
}

body {
    position: relative;
}

.footer {
    margin-top: auto;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}

#render-cart-data img {
    width: 40px;
    height: 40px;
}

#render-cart-data {
    height: 300px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;

}

/*.discount-price {*/
/*    color: red;*/
/*}*/

/*.prod-price-before {*/
/*    text-decoration: line-through;*/
/*}*/


