* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {

}

.prod-image {
    width: 200px;
    height: 220px;
}

.prod-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 16px;
    background-color: white;
}

.card {
    background-color: white;
    width: 500px;
    padding: 20px;
    height: 100%;
    border-radius: 8px;
    margin: 20px 0 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h2, p {
    padding: 16px;
}

button {
    margin: 16px;
    padding: 8px 16px 8px 16px;
    border: none;
    background-color: darkorange;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    background-color: #ffa130;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btns button {
    background-color: black;
    color: white;
}

.btns button:hover {
    background-color: #3a3a3a;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.header, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    gap: 20px;
    list-style-type: none;
    margin-right: 40px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    height: 80px;
    margin-left: 40px;
    margin-top: 8px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#product-container {
    flex: 1;
}

footer {
    margin-top: auto;
    bottom: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5% 0 5%;
    font-size: 16px;
    justify-content: space-between;
    flex-wrap: wrap;

}

a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#loading-animation {
    display: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 12px solid darkorange;
    border-top: 5px solid transparent;
    animation: spin linear infinite;
    animation-duration: 0.5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 500px) {
    .card {
        width: 90%;
    }
}